<!-- About Me Card -->
<div class="container mt-5">
    <div class="card mb-1" style="max-width: 1800px; margin: auto;">
        <div class="row no-gutters">
            <div class="col-md-3">
              <br>
              <div class="card mb-3 shadow-sm">
                <img src="/ann 9.jpg" class="card-img-top img-fluid" alt="Profile Image" style="object-fit: cover; height: 250px;">
              </div>
              <br>
              <div class="card p-3 shadow-sm">
                <h4 class="card-title mb-2 text-dark">Why I Love What I Do</h4>
                <p class="card-text">I am deeply passionate about technology anything revolving around technology excites me. With technology it gives me the space to be creative and solve problems using technological perspectives. I enjoy learning new things everyday and with technology it provides many opportunities to learn and upskill everyday.</p>
              </div>
            </div>
            <div class="col-md-8 offset-md-1">
              <div class="card-body">
                <h5 class="card-title">Hi, I'm Ann Micheni</h5>
                <p class="card-text"> A passionate and skilled software developer with a strong background in SQL, Angular, Wordpress, Django, LIMS Basic, react, javascript and SQL. With years of experience in building scalable, and dynamic web applications. I thrive on turning problems into solutions. My journey in technology has been driven by a deep interest in creating flexible and high-performance software that meets user needs and business goals as it mirrors the business process.</p>
                
                <h6 class="card-subtitle mb-2 text-muted">My Skill Set</h6>
                <ul>
                  <li><strong>C# Development:</strong> ASP.NET Core, Entity Framework Core, Design Patterns</li>
                  <li><strong>Angular Development:</strong> Angular Framework, TypeScript, RxJS, Bootstrap, Angular Material and many more</li>
                  <li><strong>SQL Database Management:</strong> Database Design, SQL Server, Performance Optimization</li>
                </ul>
                
                <h6 class="card-subtitle mb-2 text-muted">Professional Experience</h6>
                <p><strong>LIMS Consultant, Software Engineer</strong><br>
                <em>Role:</em>LIMS Consultant, Software Engineer<br>
                <em>Company:</em> <a href="http://expaq.co.ke/"></a> LabWare East Africa<br>
                <em>Duration:</em> February 2021 – Present</p>
                <ul>
                  <li>LabWare LIMS Configuration and Implementation: Led the provision of consulting services by installing, designing, and configuring LabWare LIMS systems across industries such as clinical, forensic, and pharmaceutical laboratories. This involved comprehensive system setup, including template configuration, analysis and product configurations, Crystal Reporting, Inventory Manager configuration, instrument integration, and QC configuration, delivering tailored solutions to meet diverse customer requirements and optimize laboratory operations.</li>
                  <li>Networking Expertise: Demonstrated proficiency in TCP/IP protocols, configuring network printers, managing wireless LAN setups, and troubleshooting Ethernet connections, ensuring seamless network functionality and data transmission.</li>
                  <li>Collaborated with clients to understand their business needs and customize LIMS solutions to optimize laboratory operations and enhance efficiency.</li>
                  <li>Managed database administration tasks, including data backup, restoration, and security maintenance, to ensure data integrity and confidentiality.</li>
                  <li>Provided ongoing end-user support and troubleshooting for LIMS systems, ensuring minimal downtime and maximum uptime for clients.</li>
                  <li>Conducted end-user training sessions for end-users to familiarize them with LIMS functionalities and understand the system.</li>
                  <li>Configured and interfaced laboratory instruments with LIMS systems, ensuring accurate data capture and analysis.</li>
                  <li>Design and configuration of crystal reports to extract and analyze data from LIMS system.</li>
                  <li>Development of interfaces from LIMS to Enterprise Planning ERP and Health Management Systems (HMIS) systems, facilitating seamless data integration and workflow automation.</li>
                  <li>Excelled in utilizing Google Suite applications including Google Meet, Docs, Sheets, Calendar, Slides, Chat, Forms, and Drive for effective communication, collaboration, documentation, and project management.</li>
                </ul>
              </div>
            </div>
          </div>
        <h3>Projects I have contributed on include:</h3>
        <app-project></app-project>
        <h3>Let's share on:</h3>
        <app-contact></app-contact>
        <h3>Global News:</h3>
        <app-news-list></app-news-list>
        <app-stock></app-stock>
    </div>
</div>
